# Data Science Tools and Ecosystem

This notebook provides a brief overview of the tools and technologies that make up the modern data science ecosystem.

### Introduction

In this notebook, the main elements of the Data Science Tools and Ecosystem are summarized, along with a few simple Python arithmetic examples.

### Objectives

The goals of this notebook are to:â€‹

*   List widely used programming languages in data science.
*   Highlight popular data science libraries.
*   Demonstrate example arithmetic expressions in Python.
*   Present commonly used data science tools.

### Popular Data Science Languages

Some of the most commonly used programming languages for data science are:



1.   Python
2.   R
1.   SQL
2.   Java
1.   Julia

### Frequently Used Data Science Libraries

Data scientists often rely on the following libraries:



1.   Pandas
2.   Numpy
1.   Matplotlib
2.   Seaborn
1.   Tensor-Flow
2.   Scikit-Learn

### Common Data Science Tools

*   Jupyter Notebook
*   Google Colab
*   RStudio
*   Appache Zeppelin

### Examples: Evaluating Arithmetic Expressions in Python

In [1]:
# 1. This is a simple arithmetic expression that multiplies, then adds integers
(4 * 6) + 5   # Result: 29

29

In [2]:
# 2. This converts 300 minutes to hours by dividing by 40
300 / 40      # Result: 7.5

7.5

In [3]:
# 3. Calculating compound interest for 1 year
principal = 1000
rate = 0.08      # 7%
times = 4        # quarterly
amount = principal * (1 + rate / times) ** times
amount

1082.43216

In [4]:
# 4. Converting temperature from Celsius to Fahrenheit
celsius = 37
fahrenheit = (celsius * 9 / 5) + 32
fahrenheit

98.6

In [5]:
# 5. Computing the area of a circle
radius = 5
pi = 3.14159
area = pi * radius ** 2
area

78.53975

In [6]:
# 6. Calculating average (mean) of a list of numbers
numbers = [10, 20, 30, 40, 50]
average = sum(numbers) / len(numbers)
average

30.0

In [ ]:
# 7. Simple percentage calculation: discount on a product
price = 1200
discount_percent = 15
discount_amount = price * discount_percent / 100
final_price = price - discount_amount
final_price

## Author
Mohit Sharma